*.vcd
syn/*
pwr/*
*.sdf
*.spef
*.rpt
*.log
*csrc/*
*simv*
*ucli.key
*.dsn
*.trn
*.so
*.hsopt
*.fsdb
openRAM/__pycache__/
openRAM/*
tb/cgra_core/cgra_subsys/csrc/
tb/cgra_core/cgra_subsys/simv*
tb/cgra_core/cgra_subsys/ucli.key
tb/cgra_core/cgra_subsys/*.log
tb/cgra_core/cgra_subsys/verdiLog/
tb/cgra_core/cgra_subsys/sys*
tb/cgra_core/cgra_subsys/__pycache__/